html,
body {
	margin: 0;
	padding: 0;
}

body {
	padding: 50px;
	background-color: #000;
}

html {
	font-size: 18px;
}

pre {
	font-family: 'Ubuntu-Fira', monospace;
}

nav,
header {
	padding: 5px 10px;

}

nav,
main,
header {
	background-color: #151515;
	border: 1px solid #333;

}

header {
	display: block;
	width: 100%;
	text-align: center;
	color: var(--blue);
}

header span {
	display: block;
	font-size: 22px;
}

/* sidebar is directly  taken from backbone.js*/
nav {
	position: sticky;
	top: 20px;
}

nav p {
	color: var(--blue);
	font-size: 22px;
	font-weight: 700;
	border-bottom: 1px solid var(--blue);
	margin-bottom: 5px;
}

h3 {
	text-align: center;
}

a {
	color: var(--aqua);
	transition: color 250ms ease;
	display: inline-block;
}

a:hover {
	color: var(--green);
}

p strong {
	font-family: 'Ubuntu-Fira';
	margin-left: 10px;
}

.download {
	display: block;
	text-align: center;
}



section {
	padding: 20px;
}

section:first-child {
	/*padding-top: 0;*/
}

section:last-child {
	/*padding-bottom: 0;*/
}

section:not(:last-child) {
	border-bottom: 1px solid var(--blue);
}

.argTable,
.argTable table th {
	text-align: center;
}

.argTable table {
	border-collapse: collapse;
	display: inline-block;
	margin: 0 15px;
}

.argTable table th,
.argTable table td {
	border: 1px solid var(--blue);
	padding: 0.125em 0.5em;
}

.argTable table td {
	text-align: left;
}